div{
    border: 2px solid #164a7e;
    margin: 20px 25px;
    padding: 18px;
    background-color: rgba(37, 43, 77, 0.3);
    border-radius: 15px;
    box-shadow: 5px 7px rgb(78, 5, 56);
}
#foto{
    width: 125px;
    float: left;
    border-radius: 40%;
}
.cuerpoPagina{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(to right, white, rgb(43, 0, 255));
}
h1, h2, h3{
     text-shadow: 1px 3px rgb(190, 38, 38);
}